*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header main{
    text-align: center;
}
header{
    color: #E53170;
    padding: 30px;
}
.img{
    width: 5px;
    background-color: rgb(5, 5, 39);
    float: left;
    color: white;
}
.container {
    margin: 0 auto;
    width: 70%;
  }
