*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header main{
    text-align: center;
}
header{
    color: #E53170;
    padding: 30px;
}
.testo{
    background-color: rgb(5, 5, 39);
    color: white;
    padding: 10px;
    margin: 20px;
    width: calc(100% / 3);
}
.img{
    width: 5px;
    float: left;
    padding: 10px;
}
.container {
    margin: 0 auto;
    width: 70%;
  }
